<p>
  <b>Netid:</b>
  <%= @user.netid %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Year of graduation:</b>
  <%= @user.year_of_graduation %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @user.location, @user.location %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
