<%= form_for @bike, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :color, Bike.pluck(:color).uniq %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :condition, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :condition, Bike::CONDITIONS, :to_s, :titleize %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :location_id, Location.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manufacturer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :manufacturer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bikes_path, :class => 'btn' %>
  </div>
<% end %>
