<%- model_class = Bike -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Bike #</th>
      <th>Color</th>
      <th>Condition</th>
      <th>Checked out?</th>
      <% if current_user.admin? %>
        <th>Location</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= link_to bike, bike_path(bike) %></td>
        <td><%= bike.color %></td>
        <td><%= bike.condition %></td>
        <td><%= bike.checked_out? ? link_to(bike.checked_out_to.full_name, bike.checked_out_to) : 'no' %></td>
        <% if current_user.admin? %>
        <td><%= link_to "#{bike.location.name}", bike.location %></td>
        <% end %>
        <td>
          <% if bike.checked_out? %>
            <%= link_to "check in", checkin_checkout_path(bike.active_checkout), method: :post %>
          <% else %>
            <%= link_to "check out", new_bike_checkout_path(bike) %>
          <% end %>
          <% if current_user.admin? %>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= edit_bike_path(bike) %>"><i class="icon-pencil"></i> Edit</a></li>
                <li><a href="<%= bike_path(bike) %>" data-method="delete" data-confirm="Are you sure?" rel="nofollow"><i class="icon-trash"></i> Delete</a></li>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_bike_path, :class => 'btn btn-primary' %>
