<h1>Listing bikes</h1>

<div class="row">
  <div class="span1">Bike #</div>
  <div class="span1">Color</div>
  <div class="span1">Condition</div>
  <div class="span2">Location</div>
  <div class="span3">Meta</div>
</div>

<ul>
<% @bikes.each do |bike| %>
  <li class="row">
    <div class="span1"><%= bike.id %></div>
    <div class="span1"><%= bike.color %></div>
    <div class="span1"><%= bike.condition %></div>
    <div class="span2"><%= link_to bike.location.name, bike.location %></div>
    <div class="span3">
      <%= link_to 'Show', bike %>
      <%= link_to 'Edit', edit_bike_path(bike) %>
      <%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Bike', new_bike_path %>
