<%- model_class = Bike -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="bikes table table-striped">
  <thead>
    <tr>
      <th>Bike #</th>
      <th>Color</th>
      <th>Checked out?</th>
      <% if current_user.admin? %>
        <th>Location</th>
        <th>Notes</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <%
        if bike.checked_out?
          row_class = "checked-out info"
        elsif bike.overdue?
          row_class = "overdue error"
        elsif !bike.operational?
          row_class = "offline warning"
        end
      %>
      <tr class="<%= row_class %>">
        <td><%= link_to bike, bike_path(bike) %></td>
        <td><%= bike.color %></td>
        <td><%= bike.checked_out? ? link_to(bike.checked_out_to, bike.checked_out_to) : 'no' %></td>
        <% if current_user.admin? %>
          <td><%= if bike.location then link_to bike.location.name, bike.location else link_to 'Fucked', fucked_bikes_path end %></td>
          <td><%= bike.notes.empty? ? '—' : bike.notes %></td>
        <% end %>
        <td>
          <% if bike.operational? %>
            <% if bike.checked_out? %>
              <%= link_to "check in", checkin_checkout_path(bike.active_checkout), method: :post %>
            <% else %>
              <%= link_to "check out", new_bike_checkout_path(bike), class: 'js-create-checkout' %>
            <% end %>
          <% else %>
            <i>offline</i>
          <% end %>
          <% if current_user.admin? %>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= edit_bike_path(bike) %>" class="edit-bike"><i class="icon-pencil"></i> Edit</a></li>
                <li><a href="<%= edit_bike_path(bike) %>" class="take-bike-offline"><i class="icon-wrench"></i> Take Offline</a></li>
                <li><a href="<%= edit_bike_path(bike) %>" class="update-bike-location"><i class="icon-map-marker"></i> Update Location</a></li>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
