<%- model_class = Bike -%>
<div class="page-header">
  <h2><%= @bike %></h2>
</div>

<%= image_tag @bike.image_url, class: 'bike-img' %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @bike.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition) %>:</strong></dt>
  <dd><%= @bike.condition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= link_to @bike.location.name, @bike.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @bike.manufacturer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @bike.model %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', bikes_path, :class => 'btn'  %>
  <% if current_user.admin? %>
  <%= link_to 'Edit', edit_bike_path(@bike), :class => 'btn' %>
  <% end %>
</div>
