<%= form_for @checkout, :url => { :action => "create" } do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prevented this bike from being checked out:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @bike %>
      <%= f.hidden_field :bike_id, value: @bike.id %>
    <% else %>
      <%= f.label :bike_id, "Bike: " %><br />
      <%= collection_select :checkout, :bike_id, @bikes, :id, :to_s, prompt: true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :biker do |b| %>
      <%= b.label :netid, "Biker:" %>
      <%= b.text_field :netid %>
    <% end %>
  </div>

  <div class="field">
    <%= f.check_box :helmet_requested %>
    <%= f.label :helmet_requested, "Does the rider need a helmet?" %>
  </div>

  <div class="actions">
    <%= submit_tag('check out') %>
  </div>
<% end %>
