<%= form_for @checkout, :url => { :action => "create" } do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prevented this bike from being checked out:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :bike do |b| %>
      <% if @checkout.bike_id %>
        <%= b.hidden_field :id, value: @checkout.bike_id %>
      <% else %>
        <%= b.label :id, "Bike: " %>
        <%= b.collection_select :id, @bikes, :id, :to_s, prompt: true %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :biker do |b| %>
      <%= b.label :netid, "Biker netid:" %>
      <%= b.text_field :netid %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :helmet_requested, class: 'checkbox inline' do %>
      <%= f.check_box :helmet_requested, checked: true %>
      Does the rider need a helmet?
    <% end %>
  </div>

  <div class="form-actions">
    <%= submit_tag('check out', class: 'btn btn-primary') %>
    <%= link_to 'cancel', bikes_path, class: 'btn' %>
  </div>
<% end %>
