<h1>Listing checkouts</h1>

<table class="checkouts table table-striped">
  <thead>
    <tr>
      <% unless @bike %><th><%= link_to 'Bike', params.merge({order: :bike_id}) %></th><% end %>
      <% unless @biker %><th><%= link_to 'Checked Out To', params.merge({order: :biker_id}) %></th><% end %>
      <% unless @location %><th><%= link_to 'Location', params.merge({order: :location_id}) %></th><% end %>
      <% unless @staffer %><th><%= link_to 'Checked Out By', params.merge({order: :staffer_id}) %></th><% end %>
      <th><%= link_to 'Time', params.merge({order: :created_at}) %></th>
      <th><%= link_to 'Due Back', params.merge({order: :due_at}) %></th>
      <th><%= link_to 'Returned', params.merge({order: :returned_at}) %></th>
    </tr>
  </thead>
  <tbody>

    <% @checkouts.each do |checkout| %>
      <%
        if checkout.checked_out?
          row_class = 'checked-out info'
        elsif checkout.overdue?
          row_class = 'overdue error'
        end
      %>
      <tr class="<%= row_class %>">
        <% unless @bike %><td><%= link_to checkout.bike.id, checkout.bike %></td><% end %>
        <% unless @biker %> <td><%= link_to checkout.biker, checkout.biker %></td><% end %>
        <% unless @location %><td><%= link_to checkout.location.name, checkout.location %></td><% end %>
        <% unless @staffer %><td><%= link_to checkout.staffer, checkout.staffer %></td><% end %>
        <td><%= l checkout.created_at, format: :medium %></td>
        <td><%= l checkout.due_at, format: :short %></td>
        <td><%= l checkout.returned_at, format: :medium unless checkout.returned_at.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
