<h1>Listing checkouts</h1>

<div class="row">
  <div class="span1">Bike</div>
  <div class="span2">Checked Out To</div>
  <div class="span1">Location</div>
  <div class="span1">Date</div>
</div>

<ul class="no-offset">
<% @checkouts.sort{|a,b| a.created_at <=> b.created_at }.each do |checkout| %>
  <li class="row no-bullet">
    <div class="span1"><%= link_to checkout.bike.id checkout.bike %></div>
    <div class="span2"><%= link_to location.name, location %></div>
    <div class="span1"><%= link_to checkout.user.full_name checkout.user %></div>
    <div class="span1"><%= l checkout.created_at %></div>
  </li>
<% end %>
</ul>

<br />

<%= link_to '+ New Location', new_location_path %>
