<h1>Listing checkouts</h1>

<table class="checkouts table table-striped">
  <thead>
    <tr>
      <% unless @bike %><th>Bike</th><% end %>
      <% unless @biker %><th>Checked Out To</th><% end %>
      <% unless @location %><th>Location</th><% end %>
      <% unless @staffer %><th>Checked Out By</th><% end %>
      <th>Time</th>
      <th>Due Back</th>
    </tr>
  </thead>
  <tbody>

    <% @checkouts.each do |checkout| %>
      <%
        if checkout.checked_out?
          row_class = 'checked-out info'
        elsif checkout.overdue?
          row_class = 'overdue error'
        end
      %>
      <tr class="<%= row_class %>">
        <% unless @bike %><td><%= link_to checkout.bike.id, checkout.bike %></td><% end %>
        <% unless @biker %> <td><%= link_to checkout.biker, checkout.biker %></td><% end %>
        <% unless @location %><td><%= link_to checkout.location.name, checkout.location %></td><% end %>
        <% unless @staffer %><td><%= link_to checkout.staffer, checkout.staffer %></td><% end %>
        <td><%= l checkout.created_at, format: :medium %></td>
        <td><%= l checkout.due_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
