<h1>Listing locations</h1>

<div class="row">
  <div class="span2">Name</div>
  <div class="span1">Location</div>
</div>

<ul class="no-offset">
<% @locations.each do |location| %>
  <li class="row no-bullet">
    <div class="span2"><%= link_to location.name, location %></div>
    <div class="span1"><a href="http://maps.google.com/?q=<%= location.lat %>,<%= location.long %>">Map</a></div>
    <div class="span2">
      <%= link_to 'Edit', edit_location_path(location) %>
      <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to '+ New Location', new_location_path %>
