<p id="notice"><%= notice %></p>

<h2><%= @location.name %></h2>

<h4>Bikes:</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
<% @bikes.each do |bike| %>
  <tr>
    <td class="<%= 'info' if bike.checked_out?  %>"><%= link_to bike, bike %></td>
  </tr>
<% end %>
  </tbody>
</table>

<div>
  <h4>Helmets: <%= @location.num_helmets %></h4>
</div>

<%= link_to 'Back', locations_path %>
